<a href="https://colab.research.google.com/github/CARLVINMUTAHI/Data_Science/blob/main/Data_Science_Ecommerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  Questions on Ecommerce Purchases csv 

1. Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.
2. Check the last five entries of the DataFrame.
2. Do some basic descriptive statistics of the data set. 
3. How many rows and columns are there?
4. What is the average Purchase Price? 
5. What were the highest and lowest purchase prices?
6. How many people have English 'en' as their Language of choice on the website? 
7. How many people have the job title of "Lawyer" ?
8. How many people made the purchase during the AM and how many people made the purchase during PM ?
9. What are the 5 most common Job Titles?
10. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? 
11. What is the email of the person with the following Credit Card Number: 4926535242672853 
12. How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?
13. How many people have a credit card that expires in 2025?
14. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

### Bonus Question on Salaries csv. 
1. Is there a correlation between length of the JobTitle string and Salary?

**Import pandas and other necessary libraries**

In [3]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Read in the Ecommerce purchases csv file and setting it into a dataframe called ecom**

In [2]:
from google.colab import files
uploads=files.upload()

Saving Ecommerce Purchases.csv to Ecommerce Purchases.csv

In [4]:
data=pd.read_csv('Ecommerce Purchases.csv')

**Checking the last 5 entries**

In [ ]:
data.tail(n=5)

                                                Address  ... Purchase Price
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  ...          82.21
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  ...          25.63
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  ...          83.98
9998               0096 English Rest\nRoystad, IA 12457  ...          38.84
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  ...          67.59

[5 rows x 14 columns]

**Descriptive statistics of the dataset**



*   14 columns
*   10000 rows

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**Average Purchase Price**

In [ ]:
data["Purchase Price"].mean()

50.34730200000025

**Highest and Lowest Purchase Price. Max is 99.00 and min is 0.00**

In [ ]:
data['Purchase Price'].max()

99.99

**Number of people who have set English as the language of choice**

In [ ]:
sum(data['Language'] == 'en')

1098

**Number of people with Lawyer**

In [ ]:
sum(data['Job']=='Lawyer')

30

**Number of people doing purchases during the AM**

In [ ]:
sum(data['AM or PM']=='AM')

4932

**Number of people doing purchases in the PM**

In [ ]:
sum(data['AM or PM']=='PM')

5068

**5 most common job titles**

In [ ]:
data['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**LOT 90WT Purchase Price**

In [ ]:
data[data['Lot']== "90 WT"]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**Email Address of the specfied**

In [ ]:
data[data['Credit Card']== 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**American express and made purchase above 95**

In [ ]:
data[(data['CC Provider']=="American Express") & (data['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

**Credit card expires in 2025. The format is 02/25 so when we split into 3 we compare the 25. Split by 2 is /25. Split by 1 is 2/25**

In [5]:
data[data['CC Exp Date'].apply(lambda exp: exp[3:] =='25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

**Top most email providers. Split by 1. Index 0 is the name. Index 1 is the other section with the domain**

In [7]:
data['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64